<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title> {{ header }} </title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
    
    <div class="container">
        <main>
        {% if page.url == "/" %}
        <div class="banner">
             <h1>{{ header }}</h1>
        </div>
        {% else %}
            {% include "partials/header.njk" ignore missing %}
            {% if empty %} {# if the page wants a widscreen layout#}
                </div>
            {%endif%}
            {% if imgHero %}
                <figure>
                    <img class="img" src="/images/{{ imgHero }}" alt tooltip="{{ imgCaption }}">
                    <figcaption> {{ imgCaption }} </figcaption>
                </figure>
            {% endif%}
            {% if "shrines" not in page.url %}
            {% if not empty %}
                <h1 class="head">{{ header }}</h1>
            {% endif%}
            {%endif%}
        {% endif %}

                {{ content | safe }}
            
        </main>
    {% if not empty %}
    </div>
    {%endif%}
    </body>
</html>
