<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title> {{ title }} </title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
    <div class="container">
        <main>
        {% if page.url == "/" %}
        <div class="banner">
             <h1>{{ header }}</h1>
        </div>
        {% else %}
            {% include "partials/header.njk" ignore missing %}
            <h1 class="title">{{ header }}</h1>
        {% endif %}

                {{ content | safe }}
            
        </main>
    </div>
    </body>
</html>
