<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link rel="stylesheet" href="../../css/style.css">
    </head>
    <body>
        <div class="container"> 
                
        <main>
            {% include "partials/breadcrumbs.njk" ignore missing %}
            <div class="flexcontainer">
                <div class="sidebar">
                    <div class="nav">
                    <h3>Work</h3>
                        <ul>
                    {% for portfolio in collections.portfolio %}
                    <li>
                        <a href="{{ portfolio.url }}"> 
                        {{ portfolio.data.header }}
                        </a>
                        </li>
                        {% endfor %}  
                        </ul>
                    </div>
                </div>
                <div class="meat">
                    <div class="contentblock">
                        <article>
                        <h1> {{ header }} </h1>
                        
                        <div class="item-data">
                        
                            <table>
                                <tbody>
                                    <tr>
                                        <th>Date:</th>
                                        <td>{{year}}</td>
                                    </tr>
                                    <tr>
                                        <th>Tags:</th>
                                        <td> 
                                            {% for tag in tags %}
                                                {% if tag != "portfolio" %}
                                                    {{ tag }},
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        
                        </div>
                        <p>{{ content | safe }}
                        <br>
                        {% if video %}

                            <video class="project-video" controls>
                                <source src="{{ video }}" type="video/mp4">
                            </video>

                        {% endif %}
                        {% include "partials/image-folder.njk" ignore missing %}
                        </article>
                    </div>
                </div>
                
            </div>
        </main>
        {% include "partials/breadcrumbs.njk" ignore missing %}
        </div>
        
    </body>
</html>