---
layout: layouts/default.njk
header: "About"
---

Hi I'm Aven!
I'm an illustrator and graphic designer based in New Zealand. This website is a project to learn to code and make myself a little corner on the internet. 