---
layout: layouts/default.njk
header: "About"
empty: empty
---
<div class="container">
    <p> Hi! I'm Aven Li </p>
    <br>
    <p>
    I'm a graphic designer and illustrator based in Aotearoa. 
    I love working with graphics, branding, illustrations and digital experiences.
    </p>
    <br>
    <p>
    When I'm not designing, I like to draw, analyse films and collect interesting technologies.
    </p>
    <br>
    <p>
    Currently I am learning how to code my own space on the internet. This website was coded by me! 
    If you're interested, you can check that out <a href="/garden/">here!</a>
    </p>
</div>