---
layout: layouts/default.njk
header: "About"
---
<div class="grid-about">
    <div class="contentblock">
        <img src="/images/mii/sit-smile.png" class="pastel" width="100%">
    </div>
    <div class="contentblock" style="grid-column: 2/4;">
        <p>
            Hi I'm Aven!
            I'm an illustrator and graphic designer based in New Zealand. 
            This website is a project to learn to code and make myself 
            a little corner on the internet.</p>
        <p>
           If you wish to contact me feel free to send me an email :) 
           <a href="mailto:rubyli208@gmail.com">rubyli208@gmail.com</a> 
        </p>
        
    </div>
    
    <div class="contentblock">
        <h2>Profile </h2>
        <table>
        <tbody>
            <tr>
                <th>
                Zodiac
                </th>
                <td>
                Leo Sun / Virgo Rising / Libra Moon
                </td>
            </tr>
            <tr>
                <th>
                    Type
                </th>
                <td>
                    INFJ / 4w5
                </td>
            </tr>
            <tr>
                <th> 
                    Likes
                </th>
                <td>
                    Purple / Video Essays / Retro Tech /
                </td>
            </tr>
            <tr>
                <th>
                    Music
                </th>
                <td>
                    New Wave / R&B Soul / Musicals
                </td>
            </tr>
        </table>
    </div>
    <div class="contentblock" style="grid-column: 1/3; grid-row: 2;">
        <h2>Favourite Games</h2>
        <div class="marquee pastel">
                <img class="square"src="/images/games/kh2.png" alt title="kingdom hearts 2">
                <img class="square"src="/images/games/r1999.png" alt title="reverse 1999">
                <img class="square"src="/images/games/melatonin.png" alt title="melatonin">
                <img class="square"src="/images/games/mouthwashing.png" alt title="mouthwashing">
                <img class="square"src="/images/games/littlegoodytwoshoes.png" alt title="little goody two shoes">
        </div>
    </div>
    <div class="contentblock" style="grid-column: 3; grid-row: 2;">
        <img src="/images/webfishing-w-lin.png" width="100%">
    </div>
    <div class="contentblock" style="grid-column: 4/5; grid-row: 2/4;">
        <img src="/images/deer.png" width="100%">
    </div>
    <div class="contentblock"style="grid-column: 1; grid-row: 3/4;">
        <h2> Favourite Shows </h2>
        <ul>
            {% for show in favShows %}
                <li>{{ show.title }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="contentblock" style="grid-column: 2/4; grid-row: 3/4;">
        <h2> Favourite Movies </h2>
        <ul>
            {% for film in favFilms %}
                <li>{{ film.title }}</li>
            {% endfor %}
        </ul>
    </div>

    {# floats #}
    <img src="/images/mii/sit.png" class="pastel"style="width: 200px; position: absolute; top:120px; left:550px;">
    <img src="/images/mii/lying.png" class="pastel"style="width: 200px; position: absolute; top:580px; left:-200px;">
    
</div>