---
layout: layouts/default.njk
header: "Films & Shows"
imgHero: films-shows/better-days-screenshot.jpg
imgCaption: Better Days (2019)
---
<div class="quotebox">
    <p class="calloutsymbol">✧</p>
    <div class="callouttext">
        <p>
            "That you are here - that life exists, and identity; that the 
            powerful play goes on and you may contribute a verse. That the powerful play 
            *goes on* and you may contribute a verse. What will your verse be?""
                <b>- John Keating (Dead Poet Society)</b>
        </p>
    </div>
</div>
<div class="grid-about">
    <div style="grid-column: 1/4;">
        <div class="contentblock">
            <p> I love watching films and shows, I collect everything 
                in a database on Notion like a personal letterbox. I love organising 
                everything I've watched or want to watch, it's so satisfying :)</p>
                <br>
            <p> Currently watching: <i>{% for item in media %}
                {% if item.status == "Watching" %}
                    {{ item.title }},
                    {% endif %}
                {% endfor %}</i>
            <p> Here's my whole film diary that pulls from my Notion database 
            </p>
            <p><a href="/film-diary/">/film-diary/</a></p>
        </div>
        <div class="contentblock">
            <h2> Favourites</h2>
        {# Tab Links #}
            <div class="tab">
                <button class="tablinks" onClick="openTab(event, 'films')" id="defaultOpen">Films</button>
                <button class="tablinks" onClick="openTab(event, 'shows')">Shows</button>
            </div>
        {# Tab Content #}
            <div id="films" class="tabcontent">
                <div class="film-tab pastel">
                    {% for film in favFilmsData %}
                    <div class="film">
                        <div class="item">
                            <img src="/images/films-shows/{{ film.img }}" alt="{{ film.title }}">
                            <div class="overlay">
                                <p> {{ film.title }} ({{ film.year }})</p>
                            </div>
                        </div>
                        <div class="details">
                            <p> Watch Counter: {{ film.watchCount }}
                            <p> {{ film.comment }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div id="shows" class="tabcontent">
                <div class="film-tab pastel">
                    {% for show in favShowsData %}
                    <div class="film">
                        <div class="item" onClick="openDetails()">
                            <img src="/images/films-shows/{{ show.img }}" alt="{{ show.title }}">
                            <div class="overlay">
                                <p> {{ show.title }} ({{ show.year }})</p>
                            </div>
                        </div>
                        <div class="details">
                            <p> Watch Counter: {{ show.watchCount }}
                            <p> {{ show.comment }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="contentblock" style="overflow-y: auto; height: 776px;">
        <h2> Recently Watched </h2>
        {% set sorted = media | sort(false, false, "created") %}
            {% for item in sorted.slice(0, 4) %}
                <div class="item">
                    <span class="date">{{ item.created }}</span>
                    <div class="item-info">
                        <span class="title">{{item.title}}</span>
                        <span class="rating">{{"★".repeat(item.rating)}}</span>
                </div>
                <div class="comment"> 
                    <p>{{item.comment}} </p>
                </div>
            </div>
            {% endfor %}
    
    </div>
</div>

<script>

    function openTab(evt, tabName) {
  // Declare all variables
    const tablinks = document.getElementsByClassName("tablinks");
    const tabcontent = document.getElementsByClassName("tabcontent");
    var i;
    // Get all elements with class="tablinks" and remove the class "active"
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
  
    // Get all elements with class="tabcontent" and hide them
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
}

    // SLIDING COMMENTS
document.querySelectorAll('.item').forEach(item => { 
    item.addEventListener('click', () => {
    const details = item.parentElement.querySelector('.details');
    
    document.querySelectorAll('.details').forEach(d => {
    if (d !== details) d.classList.remove('active'); 
    });


        details.classList.toggle('active'); 
    }); 
});

window.addEventListener('DOMContentLoaded', () => {
    document.getElementById("defaultOpen").click();
});
</script>