---
layout: layouts/default.njk
header: "AVENRLY"
---
    <div class="quotebox">
        <p class="calloutsymbol">✧</p>
        <div class="callouttext">
            <p>
                "No live organism can continue for long to exist sanely under conditions of 
                absolute reality; even larks and katydids are supposed, by some, to dream.
                    <b>- Shrirley Jackson</b>
            </p>
        </div>
    </div>

    <div class="flexcontainer">
        <div class="sidebar">
            {% include "partials/index-nav.njk" ignore missing %}
        </div>
        <div class="meat">
            <div class="contentblock" style="padding: 20px">
                
                <div class="grid-home">
                    <div style="grid-column: 1/3;">
                        <div class="flex-c" >
                            <div class="note">
                                <h3>error</h3>
                                <div class="smallnote">
                                <p> Out of coffee. Reboot required.</p>
                                <span class="notebutton">OK</span>
                                </div>
                            </div>
                            <div class="note">
                                <h3>notes.txt</h3>
                                <div class="smallnote">
                                <p > Genre: Comedy</p>
                                </div>
                            </div>
                            </div>
                        
                    </div>
                    <div class="note" style="grid-column: 3/5;">
                        <h3>playing.flc</h3>
                        <div class="smallnote">
                            <div class="contentblock" style="padding: 0;">
                            <img  src="images/minidisc.jpg" style="width: 200px; margin: 5px;">
                            </div>
                        <p>Modern English - Melt With You</p>
                        </div>
                    </div>
                    <div class="flex-c" style="grid-column: 5;">
                        <div class="barcode" style="margin-left: auto;">stupid</div>
                        <div class="note">
                
                                <h3>currently_playing</h3>
                            <div class="smallnote">
                                <img  src="images/games/3582-days.jpg" style="width: 140px; margin: 5px;">
                            </div>
                        </div>
                    </div>
                    
                    <div class="note"style="grid-column: 1/6;">
                        <h3>welcome.txt</h3>
                        <p> Hi, welcome to my little corner of the internet.This site is a constant work in progress, so apologies for any missing stuff.
                            I draw and stuff, i love films, tv shows and games.
                    </div>
                </div>
            </div>  
        </div>
