---
layout: layouts/default.njk
header: "Avenrly"
empty: empty
---
<p>
CONNECT: <a href="mailto:rubyli208@gmail.com">rubyli208@gmail.com</a>

<script>
    const background = document.querySelector(".home-background");

const images = [
  "/images/portfolio/tieatie/mockup.png",
  "/images/portfolio/mosa/Brand-Guidelines30.jpg",
  "/images/portfolio/wenbox/Proposal17.png",
  "/images/portfolio/stewartsmith/13.png",
  "/images/portfolio/kaka/01.png",
  "/images/portfolio/convergence/Posters.png",
  "/images/portfolio/fishingbrochure/fishingBrochure5.png",
];

// Preload images
images.forEach((src) => {
  const img = new Image();
  img.src = src;
});

let currentImage = 0;

// First image
background.style.backgroundImage = `url(${images[currentImage]})`;

setInterval(() => {
  currentImage = (currentImage + 1) % images.length;

  // Put the next image on top
  background.style.setProperty(
    "--next-image",
    `url(${images[currentImage]})`
  );

  // Fade it in
  background.classList.add("fade");

  setTimeout(() => {
    // Once faded in, make it the main background
    background.style.backgroundImage = `url(${images[currentImage]})`;

    // Instantly reset the top layer
    background.classList.remove("fade");
  }, 1500);

}, 5000);
  </script>
