/* Fonts */

/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@50..200,200..900&family=Libre+Barcode+39+Text&family=Play:wght@400;700&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=stardom@400&display=swap');

  
/*
// <weight>: Use a value from 200 to 900
// <width>: Use a value from 50 to 200
// <uniquifier>: Use a unique and descriptive class name

.inconsolata-<uniquifier> {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" <width>;
}

.play-regular {
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.play-bold {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-style: normal;
}
  
*/ 


/* Styling */
:root {
    --bg-image: url(../images/bg/purple-grid-big.png);
    --bgcolor: #cfcfcf;
    --textcolor: #141414;
    --accentcolor: #7f49b4;
    --darkaccent: #472b7a;
    --accent-rgb: 127, 73, 180;
    --accent-light: #C7C1CC;
    --gradient: linear-gradient(to right, 
            rgba(var(--accent-rgb), 0.3), rgba(var(--accent-rgb), 0.5 ),
            rgba(var(--accent-rgb), 0.3));
    --box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
    --box-glow: inset 0 0 2px 2px rgba(255, 255, 255, 0.2);
    --white-glow-text: 0px 0px 10px rgba(255, 255, 255, 1), 0px 0px 10px rgba(255, 255, 255, 1);
    scrollbar-color: auto;
    font-family: "Inconsolata", monospace;
}

.garden {
    cursor: url(../images/cursors/espeon.gif), auto;
    --bg-image: url(../images/bg/purple-grid-big.png);
    --bgcolor: #cfcfcf;
    --textcolor: #141414;
    --accentcolor: #7f49b4;
    --darkaccent: #472b7a;
    --accent-rgb: 127, 73, 180;
    --accent-light: #C7C1CC;
    --gradient: linear-gradient(to right, 
            rgba(var(--accent-rgb), 0.3), rgba(var(--accent-rgb), 0.5 ),
            rgba(var(--accent-rgb), 0.3));
    --box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
    --box-glow: inset 0 0 2px 2px rgba(255, 255, 255, 0.2);
    --white-glow-text: 0px 0px 10px rgba(255, 255, 255, 1), 0px 0px 10px rgba(255, 255, 255, 1);
    scrollbar-color: auto;
    font-family: "Inconsolata", monospace;

    h2 {
    background: var(--gradient);
    border-bottom: 1px solid var(--textcolor);
    font-style: italic;
    font-weight: 400;
    margin: -10px -10px 20px -10px;
    padding: 10px 10px;
    font-size: 20px;
    box-shadow: var(--box-glow);
    text-shadow: var(--white-glow-text);
}



h2::before{
    content: "⏾ ";
}
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

body {
    margin: 0;
    
    background-size: 30px;
    background-color: var(--bgcolor);
    background-attachment: fixed;
    font-family: "Inconsolata", monospace;
    display:block;
    color: var(--textcolor);
    
}
.home-background {
    position: fixed;
    inset: 0;
    z-index: -1;
}

.bg-image {
    position: absolute;
    inset: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.bg-image:first-child {
    opacity: 1;
}
p{
    /* font-family: "Inconsolata", monospace; */
    font-size: 15px;
    line-height: 1.2;
    margin: auto;
}

h1 {
    /* font-family: "Inconsolata"; */
    font-family: 'Tahoma', sans-serif;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 4px;
}


a {
    color: var(--textcolor);
}

a:hover{
    color: var(--accentcolor);
}

table {
    text-align: left;
    margin: 10px;
}

tr{
    font-size: 15px;
}

th {
    vertical-align: top;
    width: 25%;
    padding: 5px 0px;
}

td{
    width: 75%;
    padding: 5px 0px;
}

li{
        margin: 10px 0;
        font-size: 15px;
        list-style-type: none;
        padding-left: 8px;

    }
    
li::marker {
        content: "✧ |";
        color: var(--textcolor);
        font-size: 13px;
        margin-right: 0px;
    }

.head{
    border-bottom: 1px solid;
    margin: 30px 0px;
}

.page-header{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;

    nav{
        display: flex;
        gap: 20px;
    }
    
    a{
        text-decoration: none;
    }

    a:hover{
        text-decoration: underline;
    }
}

.nav{
    /* margin: 5px;
    border: 1px solid;
    padding: 10px 10px; */

    h3{
        padding: 3px 14px;
        font-size: 28px;
        margin: 16px 0;
        border: 1px solid var(--textcolor);
        font-style: italic;
        font-weight: 400;
        text-align: center;
        color: var(--textcolor);

    }
    ul{
        padding-left: 30px;
    }

    li::marker {
        content: "⏾ |";

}
}

.container{
    justify-content: center;
    max-width: 1030px;
    min-width: 1030px;
    margin: auto;
    padding: 30px;
    /* border: 1px solid var(--textcolor); */
    /*background-color: var(--lightbgcolor);*/
}

.full-container{
    margin: 20px;
}


.banner{
    margin: 5px 5px 5px 5px;
    background-position: 20% 25%;
    min-height: 150px;
    max-height: 150px;
    border: 1px solid var(--textcolor);
    text-align: center;
    align-items: center;

    h1{
        font-size: 60px;
    }
}

.quotebox{
    display: flex;
    margin: 5px 5px 0px 5px;
    border: 1px solid var(--textcolor);
    padding: 20px;
    color: var(--textcolor);
    background-color: rgba(var(--accent-rgb), 0.3);

    
}
.calloutsymbol{
        flex: 5%;
        order: 1;
        font-size: 35px;
        margin: 0;
    }
    
.callouttext{
        flex:95%;
        order: 2;
        display: flex;
        align-items: center;

    }

.contentblock{
    margin: 5px 5px 5px 5px;
    border: 1px solid var(--textcolor);
    padding: 10px;
    scrollbar-color: var(--bgcolor) auto;

    p{
        padding: 10px;
    }
}


.flexcontainer{
    display: flex;
    flex-direction: row;
    margin: 0 0 5px 0;
    gap: 0px;
}
.sidebar{
    flex: 25%;
    order: 1;
}

.meat{
    flex: 75%;
    order: 2;

    article{
        padding:20px;
        
        h1{
            letter-spacing: 3px;
            font-size: 30px;
            margin: 15px 0px;
            font-weight: 500;
        }

        p{
            margin-bottom: 10px;
        }
    }
}


/* GALLERY*/
.gallery{
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fill, minmax(600px, 1fr)); */
    gap: 100px 20px;
    display: flex;
    flex-wrap: wrap;

}


.gallery-item{
    border: 1px solid var(--textcolor);
    outline: 3px solid transparent;
    padding: 0;
    margin:0;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    transition: 150ms;
    flex-grow: 1;
    outline-offset: -1px;
}



.galleryimg{
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    z-index: 0;
    object-fit: cover;
}

.gallery-item:hover{
    outline: 3px solid var(--accentcolor);
    margin: -2px;
    
    .galleryimg{
        filter:brightness(30%);
        filter:opacity(70%);
    }
    .desc{
        bottom: 0px;
    }
    .tags{
        bottom: 60px;
    }

}

.desc{
    background-color: var(--bgcolor);
    position: absolute;
    width: 100%;
    padding: 15px 0 15px 0;
    text-align: center;
    z-index: 1;
    font-size: medium;
    transition: 150ms;
    bottom: -50px; 
}

.tags{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    bottom: 10px;
    left: 10px;
    gap: 5px;
    transition: 150ms;
    
    span{
        background-color: var(--accentcolor);
        padding: 8px;
        border-radius: 20px;
        font-size: small;
        color: var(--bgcolor);
    }
}
/**/


.item-data { /*Currently, specific design page info table*/
    table{
        border-top: 1px dashed var(--textcolor);
        border-bottom: 1px dashed var(--textcolor);
        text-align: left;
        margin: 0 0 15px 15px;
        width: 40%;
        float: right;
    }
    
    th{
        width: 20%;
        
    }

    td{
        width: 80%;
        
    }
    
    th, td{
        border-bottom: 1px dashed var(--textcolor);
        padding: 5px;
    }

    tr:last-child td,
    tr:last-child th {
        border-bottom: none;
    }

}

.project-video{
    max-height: 700px;
    width:100%;
}

.grid-about{
    display: grid;
    position: relative;
    grid-template-columns: 1.6fr 1fr 1fr 1.6fr;
    grid-template-rows: repeat(6, auto) 160px 160px;
    gap: 10px;
    max-height: calc(100vh - 100px);
}

.grid-home{
    display: grid;
    position: relative;
    grid-template-columns: 1.6fr 1fr 1.6fr 1fr 1fr;
    gap: 20px;
}

.marquee{
    display:flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;

    img{
        width: 80px;
        object-fit: cover;
    }
}

.square{
    aspect-ratio: 1/1;
}
.pastel{
    filter: brightness(1.15) contrast(0.8);
}

.img{
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

figure{
    margin: 0;
}

figcaption{
    font-size: 15px;
    text-align: left;
    margin-left: 5px;
    font-style: italic;
}
/* tabs */
.film-tab {
    display: flex;
    flex-wrap: wrap;


    .film{
        display: flex;
        align-items: flex-start;
        .item{
            position: relative;
            margin: 5px;
            display: block;
            padding: 10px;
            width: 120px;
            height: 185px;

            img{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
            }
        }

        .details{
            margin-top: 5px;
            opacity:0;
            width: 0;
            height: 205px;
            overflow: hidden;
            transition: .3s;

            background-color: rgba(var(--accent-rgb), 0.3);

            p{
                visibility: hidden;
            }
        }

        .details.active{
            opacity: 1;
            margin-left: 5px;
            margin-right: 5px;
            width: 440px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            p{
                margin: 0px;
                visibility: visible;
            }
        }
    }
        
    .overlay{
        position:absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 500ms ease;
        background-color: rgba(0, 0, 0, 0.6);

        p{
            color: var(--bgcolor);
            font-size: 16px;
            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center;
            transform: translate(-50%, -50%);
            width: 90%;
        }
    }

    .item:hover{
        .overlay{
            opacity: 100%;
        }
    }

}

.tab {
    background-color: var(--bgcolor);
    z-index: 2;
    position: relative;

    button{
        display: inline-block;
        border: 1px solid var(--textcolor);
        position: relative;
        padding: 12px 24px;
        background-color: var(--bgcolor);
        margin-right: 5px;
        bottom: -1px;
    }

    button:hover{
        background-color: rgba(var(--accent-rgb), 0.3);
    }

    .active{
        border-bottom: 1px solid var(--bgcolor);
        background-color: var(--bgcolor);
    }
}

.tabcontent{
    display: none;
    padding: 6px 12px;
    border: 1px solid var(--textcolor);
    background-color: var(--bgcolor);
    position: relative;
    z-index: 1;
}

/* Recently Watched */

.item{
    margin-bottom: 15px;

    .date{
        font-size: small;
        font-weight: 300;
    }
    .item-info{
        display: flex;
        gap: 10px;
        vertical-align: middle;
        padding: 5px 0px;

        .title{
            font-weight: bold;
            font-size: large;
        }
        .rating{
            color: var(--accentcolor);
            font-size: 20px;
            margin-top: -7px;
        }
    }
    .comment{
        
        background-color: var(--accent-light);
        
        p{
            line-height: 1.3;
            font-size: smaller;
        }
    }
    .type{
        display: inline-block;
        border: none;
        position: relative;
        padding: 3px 8px;
        
        margin: 0 5px 5px 0;
        border-radius: 10px;
        font-size: small;
    }

    
}
.Movie{
    background-color: rgba(209, 146, 138, 0.616);
}
.Series{
    background-color: rgb(189, 171, 160);
}
.filters{

    button{
        display: inline-block;
        border: none;
        position: relative;
        padding: 6px 12px;
        margin: 0 5px 5px 0;
        border-radius: 10px;
        font-family: "Inconsolata", monospace;
    }
    button.active{
        background: rgba(var(--accent-rgb), 0.5);
    }
}
.flex{
    display: flex;
}
.note{
    border: 1px solid var(--textcolor);
    border-radius: 5px;
    background: var(--gradient);
    display: inline-block;
    position: relative;
    box-shadow: var(--box-shadow), var(--box-glow);

    .window-body{
        background-color: var(--accent-light);
        margin: 5px;
        align-self:center;
        border: 1px solid var(--textcolor);

        .leftbar{
            padding-left: 10px;
            width: 200px;
            min-height: 500px;
            border-right: 1.5px;
            border-right-style: solid;
            border-right-color: rgba(var(--accent-rgb), 0.3);
            margin-right: 10px;
            flex: 25%;
        }

        .rightbar{
            min-height: 500px;
            height: 100%;
            width: 100%;

            h1{
                text-transform: none;
                font-size: 40px;
                border-bottom: solid 1px rgba(var(--accent-rgb), 0.3)
            }
        }
    }
    .window-controls{
        position: absolute;
        right: 5px;
        top: -1px;
        display:flex;
        border-radius:0 0 5px 5px;
        border:1px solid var(--textcolor);
        background: #fff3;

        button{
            border: none;
            border-right:1px solid var(--textcolor);
            height:22px;
            background:linear-gradient(#fefefe,rgba(var(--accent-rgb), 0.1));
            cursor:pointer;
            min-height: 19px;
            min-width: 29px;
        }
        button[aria-label=Minimize]{
            background: url(/images/windows7/minimize.png) no-repeat center 10px;
            content: "";
            }
        button[aria-label=Maximize]{
            background: url(/images/windows7/maximize.png) no-repeat 50%;
            content: "";
        }
        button[aria-label=Close]{
            background: url(/images/windows7/close.png) no-repeat 50%;
            content: "";
            min-width: 48px;
            border-right: 0;
        }
    }
    .notetop{
        border-bottom: 1px solid var(--textcolor);
        padding: 10px;
        margin: 0px;
        height: 40px;
        display: flex;
        align-items: center;
        gap: 5px;

        button{
            border: 1px solid var(--textcolor);
            border-radius: 50%;
            height:25px;
            width: 25px;
            cursor:pointer;
        }


        button[aria-label=Left]{
            background: url(/images/windows7/Left.png) no-repeat 50%, 
            linear-gradient(to bottom, 
            rgba(var(--accent-rgb), 0.1), rgba(var(--accent-rgb), 0.8),
            rgba(var(--accent-rgb), 0.6));
         }
        button[aria-label=Right]{
            background: url(/images/windows7/Right.png) no-repeat 50%, 
            linear-gradient(to bottom, 
            rgba(var(--accent-rgb), 0.1), rgba(var(--accent-rgb), 0.8),
            rgba(var(--accent-rgb), 0.6));;
         }
        

        button:hover{
            opacity: 0.4;
        }
    
        .address-bar{
            display:flex;
            text-decoration: none;
            align-items:center;
            gap:8px;
            padding:5px;
            background:rgba(255, 255, 255, 0.3);
            border-bottom:1px solid #d6d6d6;
            max-height: 15px;
            font-size: 15px;
            margin-left: 5px;
            border: solid 1px var(--textcolor);
            border-radius: 5px;
            width: 70%;
            box-shadow: 0 0px 2px rgba(255, 255, 255, 0.5);

            a{
                text-decoration: none;
            }
        }
    }

    h3{
        border-bottom: 1px solid var(--textcolor);
        padding: 10px;
        font-size: 14px;
        margin: 0px;
        font-weight: 600;
        letter-spacing: 1px;
        font-family: 'Tahoma', sans-serif;
        color: var(--textcolor);
        text-shadow: var(--white-glow-text);
        font-style: italic;
    }
    p{
        padding: 15px;
    }
    img{
        border: 1px solid var(--textcolor);
        object-fit: contain;
    }
    .smallnote{
        text-align: center;
        justify-content: center;
    }
    .notebutton{
        padding: 5px;
        min-width: 55px;
        margin-bottom: 10px;
        background-color: var(--bgcolor);
        display: inline-block;
        border: 1px solid var(--accentcolor);
        border-radius: 2px;

    }
}

/*.marqueecontain{
     width: 100%; 
}
.marqueecontent{
    display: flex;
    width: max-content;
    gap: 10px;
    overflow: hidden;
    white-space: nowrap;
    animation: marquee-scroll 2s linear infinite;
}
*/

@keyframes marquee-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
}
.flex-c{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
}

.barcode{
    font-family: "Libre Barcode 39 Text", system-ui;
    font-size: 54px;
    

}