---
layout: layouts/default.njk
header: "Finch's Nest"
---

    <div class="quotebox">
        <p class="calloutsymbol">✧</p>
        <div class="callouttext">
            <p>
                "No live organism can continue for long to exist sanely under conditions of 
                absolute reality; even larks and katydids are supposed, by some, to dream.
                    <b>- Shrirley Jackson</b>
            </p>
        </div>
    </div>

    <div class="flexcontainer">
        <div class="sidebar">
            {% include "partials/index-nav.njk" ignore missing %}
        </div>
        <div class="meat">
            <div class="contentblock">
                
            </div>  
        </div>
