<div class="contentblock" style="text-align: center;">
    <a href="/">home</a> /
  {% set crumbs = page.url | breadcrumbs %}

  {% for crumb in crumbs %}

  <a href="{{ crumb.url }}">{{ crumb.name }}</a>
  {% if not loop.last %}
  /
  {% endif %}

  {% endfor %}

  </div>
