<header class="page-header">
    <a href="/" class="header-logo">✧ Avenrly</a>
    <nav>
        <a href="/about/">About</a>
        <a href="/portfolio/">Portfolio</a>
        <a href="/films-shows/">Films & Shows</a>
    </nav>
</header>