<header class="page-header">
    <a href="/garden/" class="header-logo">✧ Avenrly</a>
    <nav>
        <a href="/garden/about/">About</a>
        {# <a href="/portfolio/">Portfolio</a> #}
        <a href="/garden/films-shows/">Films & Shows</a>
    </nav>
</header>