
<div class="nav"> 
    <h3> Navigation </h3>
    <ul>
        <li>
            <a href="/about/">About</a>
        </li>
        <li>
            <a href="/portfolio/">Portfolio</a>
        </li>
        <li>
            <a href="/films-shows/">Films & TV</a>
        </li>
        
        <li>
            <a href="/shrines/">Shrines (UNDER CONSTRUCTION)</a>
        </li>
        <li>
            <a href="/commonplace/">Commonplace (NOT MADE)</a>
        </li>
    </ul>
</div>