
<div class="nav"> 
    <h3> Navigation </h3>
    <ul>
        <li>
            <a href="/about/">About</a>
        </li>
        <li>
            <a href="/portfolio/">Portfolio</a>
        </li>
        <li>
            <a href="/moviebase/">Films & TV</a>
        </li>
        
        <li>
            <a href="/shrines/">Shrines</a>
        </li>
        <li>
            <a href="/commonplace/">Commonplace</a>
        </li>
    </ul>
</div>