
<div class="nav"> 
    <h3> Navigation </h3>
    <ul>
        <li>
            <a href="/garden/about/">About</a>
        </li>
        {# <li>
            <a href="/garden/portfolio/">Portfolio</a>
        </li> #}
        <li>
            <a href="/garden/films-shows/">Films & TV</a>
        </li>
        
        <li>
            <a href="/garden/shrines/">Shrines (UNDER CONSTRUCTION)</a>
        </li>
        <li>
            <a href="/garden/commonplace/">Commonplace (NOT MADE)</a>
        </li>
        <li>
            <a href="/garden/soln/">Soln (NOT MADE)</a>
        </li>
    </ul>
</div>