<header class="page-header">
    <a href="/" class="header-logo">Home</a>
    <nav>
        <a href="/about/">About</a>
        <a href="/contact/">Contact</a>
        <a href="/portfolio/">Works</a>
    </nav>
</header>