<header class="portfolio-header">
    <nav>
        <a href="/" class="{% if page.url == '/' %} active-page{%endif%}" >Home</a>
        <a href="/about/" {% if page.url == '/about/' %} class="active-page"{%endif%} >About</a>
        {# <a href="/contact/">Contact</a> #}
        <a href="/portfolio/"{% if page.url == '/portfolio/' %} class="active-page"{%endif%} >Works</a>
    </nav>
</header>