<header class="page-header">
    <nav>
        <a href="/" class="header-logo">Aven Li</a>
        <a href="/about/">About</a>
        {# <a href="/contact/">Contact</a> #}
        <a href="/portfolio/">Works</a>
    </nav>
</header>